<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque quibusdam provident, eius temporibus dolor consequuntur maiores beatae possimus ut veritatis officia, cupiditate dolorum necessitatibus in voluptatibus illo rem nobis praesentium!</p>
    <button>Click Me!</button>
</body>
</html>